{% extends "common/base.cpp.jinja2" %}

{% block config_constructor -%}
    rocprim::search_n_config<
        {{ config.block_size_x }}, {{ config.ipt }}, 
        {{ config.threshold }}
    >
{%- endblock %}

{% block benchmark_type %}
{% endblock %}

{% block type_definitions %}
    using data_type = {{ data_type }};
{% endblock %}

{% block primbench_executor %}
    auto executor = primbench::executor(1, args, settings, primbench::flags::sync);
{% endblock %}

{% block benchmark_queue %}
    executor.queue<device_search_n_benchmark<data_type, size_t, count_equal_to<1>, config>>();
    executor.queue<device_search_n_benchmark<data_type, size_t, count_equal_to<6>, config>>();
    executor.queue<device_search_n_benchmark<data_type, size_t, count_equal_to<10>, config>>();
    executor.queue<device_search_n_benchmark<data_type, size_t, count_equal_to<14>, config>>();
    executor.queue<device_search_n_benchmark<data_type, size_t, count_equal_to<25>, config>>();
    executor.queue<device_search_n_benchmark<data_type, size_t, count_is_percent_of_size<50>, config>>();
    executor.queue<device_search_n_benchmark<data_type, size_t, count_is_percent_of_size<100>, config>>();
{% endblock %}

{% block get_time %}
    double sum = 0;
    double n = 0;

    for(const double & x : executor.get_all_bytes_per_second()){
        sum += (1000.0 * primbench::GiB) / x;
        n++;
    }

    return sum / n;
{% endblock %}
