{% extends "common/base.h.jinja2" %}

{% block tparms %}
    class value_type
{% endblock %}

{% block config_guard scoped %}
    {{ mk_is_fp_type_check(type.key_type) }} && {{ mk_type_sz_check(type.key_type) }}
{% endblock %}

{% block config_constructor -%}
    find_first_of_config_params{ { {{ config.block_size_x }}, {{ config.ipt }} }}
{%- endblock %}

{% block config_base_type -%}
    find_first_of_config_params_base<value_type>
{%- endblock %}
