{% extends "common/base.h.jinja2" %}

{% block params_type -%}
    reduce_by_key_config_params
{%- endblock %}

{% block config_guard scoped %}
    {{ mk_is_fp_type_check(type.key_type) }} && {{ mk_type_sz_check(type.key_type) }}
{% endblock %}

{% block config_constructor -%}
    reduce_by_key_config_params{ 
        { {{ config.block_size_x }}, {{ config.ipt }} },
        block_load_method::block_load_transpose,
        block_load_method::block_load_direct,
        block_scan_algorithm::using_warp_scan
    }
{%- endblock %}

{% block config_base_type -%}
    reduce_by_key_config_params_base<key_type, value_type>
{%- endblock %}
